{
    "python.analysis.extraPaths": [
        "./api",
        "./api/script"
    ],
    "search.exclude": {
    "**/.yarn": true,
    "**/.pnp.*": true
    },
    "eslint.nodePath": "app/.yarn/sdks",
    "typescript.tsdk": "app/.yarn/sdks/typescript/lib",
    "typescript.enablePromptUseWorkspaceTsdk": true
}
